*.docx
.snakemake/*
*.pdf
*.gz
*.aux
*.log
*.nav
*.snm
*.vrb
*.toc
*.o
02_bwt/bwt_naive/target/
00_Smith_Waterman_local_align/ali
00_Smith_Waterman_local_align/blosum62.txt
00_Smith_Waterman_local_align/dataset
00_Smith_Waterman_local_align/dataset2
00_Smith_Waterman_local_align/dataset_large
00_Smith_Waterman_local_align/dataset_large_result
00_Smith_Waterman_local_align/kmer_res
01_Trie/Trie: an excuse to work with recursion.pptx
01_Trie/genome_ros.txt
01_Trie/genome_ros2.txt
01_Trie/genome_ros3.txt
01_Trie/o
01_Trie/patterns_00.txt
01_Trie/patterns_ros.txt
01_Trie/patterns_ros2.txt
01_Trie/patterns_ros3.txt
01_Trie/patterns_rosalind.txt
01_Trie/r
01_Trie/ros
01_Trie/ros0.txt
01_Trie/rosalind_sol.txt
01_Trie/rosalind_trie.txt
03_paths_snakemake_vscode/bash_paths_primers.out
03_paths_snakemake_vscode/bash_paths_primers.tex
03_paths_snakemake_vscode/fastq.zip
03_paths_snakemake_vscode/img/
03_paths_snakemake_vscode/pipelines_snakemake.out
03_paths_snakemake_vscode/pipelines_snakemake.tex
03_paths_snakemake_vscode/sample_sheet.tsv
04_intro_last_lab/data/
consegne_2526/
deseq2.html
lab results.xlsx
